.firtsquad{
  
}
.segundsquad{
  background-color: rgb(133, 133, 133);
  color: white;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 600px;
  margin-left: 30%;
  border-radius: 30%;
}

.segundsquad img {
  width: 60%;
  border-radius: 30%;
}
.thirdsquad{
  background-color: rgb(79, 80, 80);;
  margin-top: 10px;
  width: 70%;
  border-radius: 30%;
  border-style: dashed;
  border-color: black;
}

.thirdsquad p{
  background-color: aqua;
}