.bcground {
    /* background: radial-gradient(circle, #000000, #435c7a); */
    /* background-color: azure; */
    background-image: url(./image/bcground.PNG);
    background-size: cover; /* Para cobrir todo o elemento */
    background-position-x: 0;
    background-position-y: 0;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Defina a altura total da tela */
}
.container {
    display: flex;

}

.welcome{
    border: var(--border) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: rgba(203, 249, 255, 0.9);
    font-family: var(--font-family);
    width: 100%;
    height: 100%;
    display: block;
}

.MyProfile {
    border: var(--border) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: rgba(203, 249, 255, 0.9);
    font-family: var(--font-family);
    justify-content: space-between;
    padding: 12px;
    width: 510px;
    height: 30vh;
    margin-right: 30px; /* Adicione uma margem à direita para separar os elementos */
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    padding-bottom: 55px;
}
.MySocial {
    border: var(--border) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    font-family: var(--font-family);
    justify-content: space-between;
    padding: 12px;
    width: 510px;
    height: 30vh;
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center;
    padding-bottom: 55px;
}
.mainVisual {
    border: 10px;
    border-radius: 40px;
    height: 75vh;
    border: var(--border) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    font-family: var(--font-family);
    padding: 12px;
    width: 1200px;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}
.Itext {
    text-align: justify;
    font-size: 15px;
    padding-top: 25px;
    /* max-width: 5px; */
    overflow: hidden;

}

.Myphoto {
    width: 200px;
    border-radius:20%;
    margin-left: 20px;
    transition: transform 0.5s ease-in-out; /* Adicione uma transição para suavizar a animação */
}

.Myphoto:hover {
    transform: scale(2); /* Aumenta a escala ao passar o mouse (pode ajustar o valor conforme necessário) */
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}
  
.carousel-image {
    display: none;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.carousel-image:hover{
    transform: scale(1.2);
}

.image-wrapper {
    position: relative;
    margin: 5px;
}

.hoverable:hover .image-text {
    display: block; /*Tornar texto visivel*/
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    padding: 10px;
    top: 69%;
    left: 38.6%;
    height: 150px;
    width: 942px;
    text-align: center;
}

.image-text {
    display: none; /* Inicialmente, o texto está oculto */
    background: rgba(0, 0, 0, 0);
    color:  rgba(0, 0, 0, 0);
    font-family: Arial Narrow, sans-serif;
    position: absolute;
    height: 10px;
    width: 10px;
    left: 60%;
    top:50%;
}
  
.fa{
    color:#6478e9;
    top: 10px;
    margin-left: 20px;
    cursor: pointer;
    text-align: left;
    font-size: 50px;
    transition: transform 0.3s ease;
}
.fa:hover ,.fa-text{
    transform: translateX(30px);
}
.fa-text {
    top: 30%; /* Alinhar verticalmente ao centro */
    transform: translateY(-50%); /* Alinhar verticalmente ao centro */
    padding: 5px 10px; /* Espaçamento interno */
    display: none; /* Ocultar inicialmente */
}

.fa-container:hover .fa-text {
    display: inline-block; /* Mostrar texto ao passar o mouse sobre o contêiner */
    transition: transform 0.3s ease;
}

.icon {
    display: flex;
    padding-top: 10%;
    align-items: center;
    justify-content: center;
}

.social-icon {
    margin-right: 50px; /* Espaço entre os ícones */
    /* color:black; */
    font-size: 35px;
}